<header class="gradient-color rounded-xl text-white mt-3 mb-3.5 mx-4 px-1 py-2.5">
    <div class="lg:px-4 md:px-4 pl-2 pr-6 mx-auto flex justify-between items-center">

      <div class=" text-lg font-semibold whitespace-nowrap sm:inline-block">
        <span class="hidden custom1020:inline">Welcome, Justin Bea! 🎉</span>
        <span class="hidden md:inline-block custom1020:hidden ">Welcome ! 🎉</span>
      </div>
  
  
      <div
        class="w-2/3 lg:w-1/2 md:w-1/2 flex items-center p-0.5 h-7 bg-white rounded-xl shadow-md relative"
      >
        <input
          class="appearance-none bg-transparent border-none w-full poppins ml-2 mr-3 py-1 px-2 leading-tight focus:outline-none text-black"
          type="text"
          placeholder="Search"
          aria-label="Search"
        />
  
        <button
          class="  search-button -mr-0.5 border border-white border-solid rounded-r-md search-color w-11 h-7 flex items-center justify-center"
          >
          <img
            src="assets/search.png"
            alt="Search Icon"
            class="search-icon w-5 h-5"
          />
         
        </button>
  
        <div class="absolute rounded z-50 w-full h-auto mt-8 top-0 bg-white">
          <ul>
          </ul>
        </div>
      </div>
      <div class="flex items-center notifwrap">
        
  
        <button class="relative search-button1 notification sm:inline-block" >
          <img
            src="assets/notif.png"
            alt="Notification Icon"
            class="md:mr-10 lg:mr-10 mr-2 w-3.5 h-4.5 md:w-4 md:h-5 lg:w-4 lg:h-5"
          />
          <div class="absolute top-[-10px] left-[10px]">
            <i class='bx bxs-circle text-red-500 text-sm'></i>
          </div>
        </button>
  
  
        <button>
        
        <img  
          src=""
          alt="Profile Logo"
          class="object-cover cursor-pointer lg:h-10 md:w-10 h-9 w-9 border border-white border-solid border-1 rounded-full"
        />
        </button>
      </div>
    </div>
  
    
  </header>
  