<nav>
    <ul class='flex items-center justify-center lg:gap-x-4 gap-x-6'>
        <li>
            <a routerLink="/student/practice" routerLinkActive=" font-extrabold bg-gradient-to-br from-primary to-secondary text-transparent bg-clip-text" 
            class="text-lg lg:text-2xl text-black/25 sm:text-xl">PRACTICE</a>
        </li>
        <li>
            <a routerLink="/student/lab" routerLinkActive="font-extrabold bg-gradient-to-br from-primary to-secondary text-transparent bg-clip-text" 
            class="text-lg lg:text-2xl text-black/25 sm:text-xl">LAB</a>
        </li>
        <li>
            <a routerLink="/student/module" routerLinkActive="font-extrabold bg-gradient-to-br from-primary to-secondary text-transparent bg-clip-text" 
            class="text-lg lg:text-2xl text-black/25 sm:text-xl">MODULE</a>
        </li>
    </ul>
</nav>

<router-outlet></router-outlet>