

<main class='flex items-center justify-center min-h-screen'>

  <div class='w-[826px] h-[505px] relative flex justify-center items-center'>
    <div class='absolute w-[795px] h-[24px] bg-gradient-to-r from-[#0375AF] to-[#6CF5BC] z-20  inset-x-3 rounded-tr-[12px] rounded-tl-[12px] shadow-sm shadow-[#00000080] top-0'></div>
    <div class='absolute top-3 bg-gradient-to-b from-[#0475AF] to-[#6AF3BC] bottom-0 left-3 w-[24px] h-[486px] z-10'></div>
    

      <button class='text-[25px] font-semibold text-[#0375AF] leading-[25.7px] w-[363px] rounded-[30px] h-[59px] shadow-md shadow-[#00000040]'>JOIN MEETING</button>
  

    <div class='absolute top-3 bg-gradient-to-b from-[#0475AF] to-[#6AF3BC] bottom-0 right-5 w-[24px] h-[486px] z-10'></div>
    <div class='absolute w-[826px] h-[24px] bg-gradient-to-r from-[#0375AF] to-[#6CF5BC] rounded-br-[12px] rounded-bl-[12px] bottom-0 inset-x-0 z-20 shadow-sm shadow-[#00000080]'></div>
  
  </div>

  
</main>









<aside>
    <div>
        <h1 class='text-[#6CF4BC] font-semibold text-start text-[14px] leading-[20px]'>Active</h1>
        <div class='shadow-md rounded-[12px] border-black max-w-[314px]  shadow-[#00000040] px-5 py-6'>
          
        <div class='flex flex-col gap-y-2'>
          <span class='text-[#0375AF] font-semibold text-[14px] uppercase leading-[20px]'>Teacher</span>
          <div class='flex items-center justify-between'>
            <div class='flex items-center gap-2'>
              <img class='rounded-full object-cover size-[30px]' src="assets/test.jpg" alt="">
              <h1 class='leading-[20px] text-[18px] font-medium font-bold text-black/50 '>Prof. Maceda</h1>
            </div>
            <img class='h-5' src="assets/test2.png" alt="">
          </div>
        </div>
      
       
        
        <div class='my-3 bg-gradient-to-br from-[#0375AF] to-[#6AF3BC] h-px'></div>
    
    
        <div class='flex flex-col gap-y-2'>
          <span class='text-[#0375AF] font-semibold text-[14px] uppercase leading-[20px]'>Participants</span>
          <div *ngFor="let item of ['com 1','com 2','com 3','com 4','com 5','com 6']" class='flex items-center justify-between'>
            <div class='flex items-center gap-2'>
              <div class='bg-[#D9D9D9] rounded-full size-[30px]'></div>
              <!-- <img class='rounded-full object-cover h-[30px]' src="assets/test.jpg" alt=""> -->
              <h1 class='leading-[20px] text-[18px] font-medium text-black/50 '>{{item}}</h1>
            </div>
            <img *ngIf="item === 'com 1'; else test" class='h-5' src="assets/mic.png" alt="">
            <ng-template #test>
              <img class='h-5' src="assets/mute.png" alt="">
            </ng-template>
          </div>
        </div>
    
        </div>
    </div>
</aside>
    

