<div class='lg:w-[826px] h-[505px] relative flex justify-center items-center border border-black'>
    <div class='absolute w-[96.2%] h-6 bg-gradient-to-r from-primary to-secondary z-20 rounded-tr-xl rounded-tl-xl top-0 shadow-md shadow-black/25'></div>
    <div class='absolute bottom-0 z-10 w-6 h-[96.2%] top-3 bg-gradient-to-b from-primary to-secondary left-4'></div>
      <button class='text-25px font-semibold text-primary leading-7 w-[43.9%] rounded-[30px]  h-16 shadow-md shadow-black/25'>JOIN MEETING</button>
    <div class='absolute top-3 bg-gradient-to-b from-primary to-secondary bottom-0 right-4 w-6 h-[96.2%] z-10'></div>
    <div class='absolute inset-x-0 bottom-0 z-20 w-full h-6 shadow-md bg-gradient-to-r from-primary to-secondary rounded-br-xl rounded-bl-xl shadow-black/25'></div>
</div>